body{
    background: linear-gradient(to right, #8c366c 0%,#6f64e7 100%);
}
#encabezado{
    padding: 2%;
    border-radius: 5%;
}
#encabezado>a{
    float: left;
    margin: 0% 1%;
    
}
h1{
    margin-top: 0;
    text-decoration: underline;
    font-style: italic;
}
#social{
    float: right;
    border-radius: 50%;
    margin-left: 10px;   
}
#bienvenida{
    text-align: center;
    margin: 7%;
}
.img{
    position:fixed; 
    bottom:0; 
    z-index:999999; 
    margin: 1em;
    border-radius: 10%;
    
}
.img>a{
    float: right;
    border-radius: 20%;
    margin-left: 20px;
}


